<ion-view view-title="My Beers" class="bar-dark">
  
   <ion-content class="background_img">
     <ion-list>
       <ion-item class="item-remove-animate item-avatar item-icon-right card mybeers-card" ng-repeat="beer in userBeers" type="item-text-wrap" href="#/tab/{{userId}}/home" ng-click="seeBeerDetails(beer)"> 
        <img src="{{beer.labels.icon || beer.labelIcon}}">
        <h2><strong>{{beer.name}}</strong></h2>
        <p>{{beer.breweries[0].name}}</p>
        <p><strong>ABV: </strong>{{beer.abv}}</p>
        <p><strong>IBUs: </strong>{{beer.ibu}}</p>
        <div beer-rating rating-value="beer.rating" max="5" on-rating-selected="saveRatingToFirebase(beer, rating)"></div>

        <button class="button button-assertive" ng-click="removeFromBeerlist(beer)">Delete</button>

        <i class="icon ion-chevron-right icon-accessory"></i>
       </ion-item>
     </ion-list>
   </ion-content>

</ion-view>

