<ion-view view-title="BeerTynder">
  
   <ion-content>
     <ion-list>
       <ion-item class="item-remove-animate item-avatar item-icon-right" ng-repeat="beer in userBeers" type="item-text-wrap" href="#/tab/{{userId}}/home" ng-click="seeBeerDetails(beer)"> 
       <!-- WHen MVP is done: route each href to tab/user/:beerId -->
        <img src="{{beer.labelIcon}}">
        <h2>{{beer.name}}</h2>
        <p>{{beer.brewery}}</p>
        <p><strong>ABV: </strong>{{beer.abv}}</p>
        <p><strong>IBUs: </strong>{{beer.ibu}}</p>
        <div beer-rating rating-value="beer.rating" max="10" on-rating-selected="saveRatingToFirebase(beer, rating)"></div>
        <i class="icon ion-chevron-right icon-accessory">See Details</i>
       </ion-item>
     </ion-list>
   </ion-content>

</ion-view>

