<ion-view view-title="Drinking Buddies" class="bar-dark">
  <ion-content class="background_img">
    <ion-list>
      <ion-item class="item-remove-animate item-avatar item-icon-right card social-card" ng-repeat="user in users" type="item-text-wrap" ng-click="seeUserDetails(user)">
        <img src="{{user.profilePic}}" width="100px" alt="">
        <br>
        <h2>{{user.name}}</h2>
        <i class="icon ion-chevron-right icon-accessory"></i>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>